{% extends 'base.html' %}
{% load static %}
{% block title %} Team {% endblock title %}
{% block content %}


<body>
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->


    <!-- Topbar Start -->
    <div class="container-fluid bg-dark px-5 d-none d-lg-block">
        <div class="row gx-0">
            <div class="col-lg-8 text-center text-lg-start mb-2 mb-lg-0">
                <div class="d-inline-flex align-items-center" style="height: 45px;">
                    <small class="me-3 text-light"><i class="fa fa-map-marker-alt me-2"></i>Uzbekiston , Navoiy , Karmana</small>
                    <small class="me-3 text-light"><i class="fa fa-phone-alt me-2"></i>+998 93 437 94 83</small>
                    <small class="text-light"><i class="fa fa-envelope-open me-2"></i>info@example.com</small>
                </div>
            </div>
            <div class="col-lg-4 text-center text-lg-end">
                <div class="d-inline-flex align-items-center" style="height: 45px;">
                    <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href="https://github.com/Theesaman"><img  style="width: 30px;" src="{% static 'img/g.png' %}" alt="img"></i></a>
                    <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href="https://www.instagram.com/maxmudovv_10?igsh=MXQ5d2ZyZTltdDZnOA%3D%3D&utm_source=qr"><img  style="width: 30px;" src="{% static 'img/instagram.png' %}" alt="img"></a>
                    <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle" href="https://www.youtube.com/@Theesamadar"><img  style="width: 30px;" src="{% static 'img/you.png' %}" alt="img"></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->


    <!-- Navbar & Hero Start -->
    <div class="container-fluid position-relative p-0">
        <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
            <a href="" class="navbar-brand p-0">
                <h1 class="text-primary m-0"><i class="fa fa-map-marker-alt me-3"></i>Tourist</h1>
                <!-- <img src="img/logo.png" alt="Logo"> -->
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto py-0">
                    <a href="{% url 'home-page' %}" class="nav-item nav-link">Home</a>
                    <a href="{% url 'about-page' %}" class="nav-item nav-link">About</a>
                    <a href="{% url 'service-page' %}" class="nav-item nav-link">Services</a>
                    <a href="{% url 'package-page' %}" class="nav-item nav-link">Packages</a>
                    <a href="{% url 'team-page' %}" class="nav-item nav-link active">Team</a>
                    <a href="{% url 'contact-page' %}" class="nav-item nav-link">Contact</a>
                </div>             
                <a href="" class="btn btn-primary rounded-pill py-2 px-4">Register</a>
            </div>
        </nav>

        <div class="container-fluid bg-primary py-5 mb-5 hero-header">
            <div class="container py-5">
                <div class="row justify-content-center py-5">
                    <div class="col-lg-10 pt-lg-5 mt-lg-5 text-center">
                        <h1 class="display-3 text-white animated slideInDown">Guides</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                                <li class="breadcrumb-item text-white active" aria-current="page">Guides</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Navbar & Hero End -->


    <!-- Team Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">Travel Guide</h6>
                <h1 class="mb-5">Meet Our Guide</h1>
            </div>
            <div class="row g-4">
                {% for items in team %}
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item">
                        <div class="overflow-hidden">
                            <img class="img-fluid" src="{{items.image.url}}" alt="">
                        </div>
                        <div class="position-relative d-flex justify-content-center" style="margin-top: -19px;">
                            <a class="btn btn-square mx-1" href="{{items.youtube}}"><img  style="width: 30px;" src="{% static 'img/you.png' %}" alt="img"></a>
                            <a class="btn btn-square mx-1" href="{{items.github}}"><img  style="width: 30px;" src="{% static 'img/g.png' %}" alt="img"></a>
                            <a class="btn btn-square mx-1" href="{{items.instagram}}"><img  style="width: 30px;" src="{% static 'img/instagram.png' %}" alt="img"></a>
                        </div>
                        <div class="text-center p-4">
                            <h5 class="mb-0">{{items.full_name}}</h5>
                            <small>{{items.Designation}}</small>
                        </div>
                    </div>
                </div>
                {% endfor %}
               <!-- Team End -->
        

                    {% endblock content %}